.details {
    color: black;
    align-items: right;
    justify-content: right;
}


/* 
.drawer{
    display: flex;
} */

@media only screen and (max-width: 600px) {
    .loading-details {
        width: 50vw;
    }
}