.buttons-above-table {
    /* position: absolute; */
    padding: 2% 0 0 0;
    /* right: 0; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table {
    color: white;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 0;
}